/* ICONS css */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* COMMON */
body {
  color: #333;
  height: 3000px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}
a {
  text-decoration: none;
  vertical-align: baseline;
}
img {
  display: block;
  /* position: absolute; */
}
.inner {
  position: relative;
  width: 1100px;
  margin: 0 auto; /*수평정렬 */
}
.btn {
  display: inline-block;
  padding: 6px 20px;
  border: 2px solid currentColor;
  border-radius: 5px;
  font-size: 15px;
}
.btn--light-green {
  color: #076443;
  border-color: #076443;
  transition: 0.6s;
}
.btn--light-green:hover {
  background-color: #076443;
  border-color: black;
  color: white;
  text-decoration: underline;
}
.strong {
  font-weight: 800;
}

.btn--brown {
  color: #633510;
  border-color: #633510;
  transition: 0.6s;
}
.btn--brown:hover {
  background-color: #633510;
  color: white;
  text-decoration: underline;
}
.btn--gold {
  border-color: #966932;
  color: #966932;
  transition: 0.6s;
  cursor: pointer;
}
.btn--gold:hover {
  background-color: #966932;
  color: white;
  text-decoration: underline;
}
.btn--white {
  border-color: #fff;
  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}
.btn--white:hover {
  background-color: #fff;
  color: black;
  text-decoration: underline;
}

/* HEADER */
header {
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #f6f5ef;
  border-top: 2px solid black;
  border-bottom: 1px solid #c8c8c8;
  z-index: 1;
}
header > .inner {
  height: 120px;
}

header .inner a.logo {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 75px;
}

/* sub-menu */
header .inner .sub-menu {
  font-family: "Nanum Gothic", sans-serif;
  display: flex;
  position: absolute;
  right: 50px;
  top: 10px;
}
header .inner .sub-menu .sub-menu__menu {
  display: flex;
  align-items: center;
}
header .inner .sub-menu .sub-menu__menu > li {
  position: relative;
}
header .inner .sub-menu .sub-menu__menu > li:not(:first-child)::before {
  display: block;
  content: "";
  width: 1px;
  height: 13px;
  background-color: #656565;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .inner .sub-menu .sub-menu__menu > li > a {
  color: #555555;
  padding: 10px 15px;
  font-size: 13px;
}
header .inner .sub-menu .sub-menu__menu > li > a:hover {
  text-decoration: underline;
}
header .inner .sub-menu .search {
  position: relative;
  cursor: pointer;
}
header .inner .sub-menu .search > input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  transition: width 0.4s;
}
header .inner .sub-menu .search > .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GARD" 0, "opsz" 48;
  position: absolute;
  height: 24px;
  right: 3px;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .inner .sub-menu .search > input::placeholder {
  color: transparent;
}
header .inner .sub-menu .search > input:focus {
  font-size: 13px;
  width: 190px;
  color: #656565;
  border-color: #007042;
}
header .inner .sub-menu .search > input:focus::placeholder {
  font-size: 13px;
  color: #656565;
}

/* main-menu */
header .inner .main-menu {
  display: flex;
  position: absolute;
  font-weight: bold;
  right: 0;
  bottom: 0;
  align-items: center;
}
header .inner .main-menu li.item .item__name {
  padding: 10px 20px 34px 20px;
  font-size: 13px;
}
header .inner .main-menu li.item:hover .item__name {
  cursor: pointer;
  background-color: #2c2a29;
  color: #669900;
  text-decoration: underline;
}
/* main menu에 속한 div */
header .inner .main-menu .item .item__contents {
  position: fixed; /* 뷰포트 고정 */
  width: 100vw;
  left: 0;
  top: 120px;
  transform: scaleY(0);
  transform-origin: center top;
}
/* .item에 hover를 줘야 .item의 자식인 .item__contents와 .item__name에도 부여됨 */
header .inner .main-menu .item:hover .item__contents {
  transform: scaleY(1);
  transition: 0.7s;
}
header .inner .main-menu .item .item__contents .item__contents__menu {
  background-color: #2c2a29;
  padding: 20px 0;
}
header .inner .main-menu .item .item__contents .item__contents__menu .inner {
  display: flex;
}
.main-menu .item .item__contents .item__contents__menu .inner > li {
  width: 200px;
  padding-right: 20px;
}
.main-menu .item .item__contents .item__contents__menu .inner > li > a {
  display: block; /* 공간값을가져갈수 있어서 글자에 마진값 가능 */
  margin-bottom: 15px;
  font-size: 14px;
  color: #f6f5ef;
  font-weight: normal;
  cursor: pointer;
}
.main-menu .item .item__contents .item__contents__menu .inner > li > a:hover {
  text-decoration: underline;
  color: #f6f5ef;
}
.main-menu .item .item__contents .item__contents__menu .inner > li > ul > li {
  color: #999;
  font-size: 12px;
  margin: 5px 0;
  cursor: pointer;
}
.main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li:hover {
  text-decoration: underline;
  color: #999;
}

/* Badges css */
header .badges {
  position: absolute;
  top: 150px;
  left: calc(1100px + (100vw - 1100px) / 2); /* 반응형 처럼 보이게 설정 */
}
header .badges .badge {
  cursor: pointer;
}
header .badges .badge img {
  width: 140px;
}
@media screen and (max-width: 1400px) {
  header .badges {
    left: calc(100vw - 150px);
  }
}

/* visual css */
.visual {
  position: relative;
  background-position: center;
  background-size: 106% 100%;
  background-repeat: no-repeat;
  background-image: url("../images (1)/images/visual_bg.jpg");
  margin-top: 120px;
}
.visual .inner {
  position: relative;
  height: 646px;
}
.visual .inner .slogan {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 340px;
  top: 180px;
  left: -130px;
}
.visual .inner .slogan img {
  width: 340px;
}
.visual .inner .slogan .btn {
  position: absolute;
  top: 250px;
}
.visual .inner .img {
  position: absolute;
}
.visual .inner .item-1 {
  position: absolute;
  width: 290px;
  top: 120px;
  left: 340px;
}
.visual .inner .item-2 {
  position: absolute;
  width: 310px;
  top: 208px;
  left: 538px;
}
.visual .inner .item-3 {
  position: absolute;
  width: 310px;
  top: 170px;
  left: 762px;
}

/* notice css */
.notice {
  position: relative;
}
.notice .notice-line {
  position: relative;
}
.notice .notice-line .bg-left {
  position: absolute;
  background-color: #111111;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.notice .notice-line .bg-right {
  position: absolute;
  background-color: #f6f5ef;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
.notice .notice-line .inner {
  height: 62px;
  display: flex;
  font-weight: 900;
}
.notice .notice-line .inner .inner_left {
  position: relative;
  display: flex;
  width: 60%;
  height: 100%;
  background-color: #111111;
  align-items: center;
  color: #f6f5ef;
}
.notice .notice-line .inner .inner_left h1 {
  position: absolute;
  left: 0;
  font-size: 16px;
}
.notice .notice-line .inner .inner_left div {
  position: absolute;
  left: 80px;
  font-size: 14px;
}
.notice .notice-line .inner .inner_left a {
  position: absolute;
  right: 20px;
  color: #f6f5ef;
}
.notice .notice-line .inner .inner_left a span {
  font-size: 36px;
  vertical-align: bottom;
  /* display: block; */
  /* 2가지 방법 */
}
.notice .notice-line .inner .inner_right {
  position: relative;
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
  background-color: #f6f5ef;
}
.notice .notice-line .inner .inner_right h1 {
  position: absolute;
  right: 120px;
  font-size: 16px;
}
.notice .notice-line .inner .inner_right a {
  position: absolute;
  right: 20px;
}
.notice .notice-line .inner .inner_right a span {
  font-size: 36px;
  vertical-align: bottom;
  color: #111111;
}

/* rewards */
.rewards {
  position: relative;
  background-color: #1e3932;
}
.rewards .inner {
  position: relative;
  padding: 30px 100px 40px 0;
  display: flex;
}
.rewards .inner .rewards_logo {
  display: flex;
  flex-basis: 260px;
  justify-content: center;
  align-items: center;
}
.rewards .inner .rewards_logo img {
  display: block;
  width: 176px;
}
.rewards .inner .rewards_items {
  flex-grow: 1;
}
.rewards .inner .rewards_items .rewards_items_register {
  position: relative;
  padding-bottom: 12px;
  box-shadow: 0 0.5px #c8c8c8;
}
.rewards .inner .rewards_items .rewards_items_register p {
  display: block;
  color: #f6f5ef;
  font-size: 17px;
}
.rewards .inner .rewards_items .rewards_items_register p.subject {
  font-size: 26px;
  margin-bottom: 10px;
}
.rewards .inner .rewards_items .rewards_items_register .buttons {
  position: absolute;
  right: 0;
  bottom: 12px;
}
.rewards .inner .rewards_items .rewards_items_register .buttons .btn--register {
  background-color: #007042;
  border-radius: 5px;
  border-color: #007042;
  margin-right: 6px;
  font-weight: 700;
  color: white;
}
.rewards .inner .rewards_items .rewards_items_register .buttons .btn--login,
.rewards .inner .rewards_items .rewards_items_card .buttons .btn--login {
  color: white;
  font-weight: 700;
  border-color: white;
}
.rewards
  .inner
  .rewards_items
  .rewards_items_register
  .buttons
  .btn--register:hover,
.rewards
  .inner
  .rewards_items
  .rewards_items_register
  .buttons
  .btn--login:hover,
.rewards .inner .rewards_items .rewards_items_card .buttons .btn--login:hover {
  text-decoration: underline;
}

.rewards .inner .rewards_items .rewards_items_card {
  position: relative;
}
.rewards .inner .rewards_items .rewards_items_card p {
  display: block;
  margin-top: 16px;
  font-size: 14px;
  color: white;
}
.rewards .inner .rewards_items .rewards_items_card .buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}
.rewards .inner .rewards_items .rewards_items_card .buttons a {
  width: 154px;
}
